@model DBLibrary.Models.User

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Пользователь</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayName("Email")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Логин")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Фамилия")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Имя")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Отчество")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Должность")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Городской номер")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Внутренний номер")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Мобильный номер")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("№ кабинета")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabinetNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Порядковый номер")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Права")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Отдел")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary btn-sm" asp-action="List"><i class='far fa-arrow-alt-circle-left'></i></a> |
    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class='fas fa-pencil-alt'></i></a>
</div>
